@page "/aboutUs"

<style>
    .text{
        background: #EDEDED
    }
</style>

<h2><u>About the product</u></h2> <br/>
<div class="text">
    <p>We've created a story point estimating tool for aid in the agile development process.  This tool will (hopefully) serve as the ideal aid
    for Paychex agile development teams as it was created specifically with that in mind.  Included are several different agile development
    voting systems, a timer for general use, and a room creation and joining feature.  All aspects of the tool are
    designed to be as intuitive and simple as possible to provide the quickest and easiest solution to story point estimation and 
    agile development collaboration.</p> 
</div>
<br />
<h2><u>About Us</u></h2> <br />
<div class ="text">
    <p>We are a team of 4 aspiring software engineers from SUNY Fredonia consisting of Derek Zeplowitz, Rick Corsi, Peyton Miller, and Tyler Dorey.
    All of us are extremely grateful to have the oppurtunity to work on this project as it has provided experience in agile development in
    a real world setting.  We hope you have a great experience using our tool!</p>
</div>
@code {

}
