@page "/Error"
<style>
    .infoArea{
        text-align : center;
    }
</style>
 <img src="/css/LogoExample3.png" width=100 height=100/>
 <div class ="infoArea">
    <h3>There was an error, please rejoin the room</h3>
    <a class="btn btn-primary" href="/">Return Home</a>
 </div>
@code {
    //This is the page users are sent to on refresh (refresh deletes user data due to limitations of blazor) or when a 
    // race condition occurs in OnInitializedAsync() in Room.razor
}
