@page "/"
<style>
    
    .room-buttons {
        text-align: center;
        margin-top: 10px;
        display: -ms-flexbox;
        flex-direction: row;
        margin: auto;
        padding-top: 20%;
    }

    .room-buttons > a, .room-buttons > a:visited {
        text-decoration: none;
        color: whitesmoke;
        background-color: #024EC6;
        border-radius: 50%;
        padding: 20%;
        margin: auto;
        width: 32px;
        height: 32px;
        font-size: 48px;
    }

    .room-buttons > a:hover, .room-buttons > a:active {
        background-color: #4B27FE;
    }

    #join-button {
        padding: 10%;
        height: 10px;
        width: 10px;
    }


</style>

<div class="room-buttons">
    <a href="createRoom">Create Room</a>
    <a href="joinRoom" id="join-button">Join Room</a>
</div>


