@inherits LayoutComponentBase

<PageTitle>ScrumSpace</PageTitle>

<div class="page">
    

    <main>
        <div class="top-row px-4" id="toprow">
            <h1>ScrumSpace</h1>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank" class="topbar-link">About Us</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
