<h3>CreateRoomTests</h3>


@code {
    [Fact]
    public void deniesEmptySubmit()
    {
        var ctx = new TestContext();
        var db = ctx.Services.AddTransient<IRoomDataAccess, RoomDataAccess>();
        var cut = ctx.Render(@<StoryPointEstimatorBlazorApp.Pages.CreateRoom />);
    }

}
