.drawer {
    background-color: #4B27FE;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.drawer:hover {
    color: #75A9FC;
}

.appbar {
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #4B27FE;
}

.buttons-container {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: none;
}

.buttons {
    background-color: #4B27FE;
    color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 5px;
    font-size: 36px;
    font-family: 'Ubuntu', sans-serif;
    min-width: 200px
}

.table-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.table {
    width: 25%;
}

.voting-area {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20%;
}