.drawer {
    background-color: #4B27FE;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .drawer:hover {
        color: #75A9FC;
    }

.appbar {
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #4B27FE;
}

.buttons-container {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
}

.buttons {
    background-color: #4B27FE;
    color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 5px;
    font-size: 36px;
    font-family: 'Ubuntu', sans-serif;
    min-width: 200px
}

.mainContainer {
    display: flex;
    margin-top: 1%;
    justify-content: space-between;
}

.tool-buttons-container {
    justify-content: space-evenly;
    min-width: 200px;
    max-width: 200px;
}

.tool-buttons {
    background-color: #4B27FE;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    font-size: 36px;
    font-family: 'Ubuntu', sans-serif;
    min-width: 100px;
    padding: 23px;
}

.tool-buttons:focus {
    background-color: #21A7EC;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    font-size: 36px;
    font-family: 'Ubuntu', sans-serif;
    min-width: 100px;
    padding: 23px;
}


.table-container {
    padding: 5px;
}

.table {
}

.voting-area {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20%;
}

.roomLabel {
    background-color: #4B27FE;
    color: white;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-weight: bold;
}

.appbar-buttons {
    color: white;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    border-radius: 10%;
}

.appbar-buttons:focus {
    background-color: #21A7EC;
    color: white;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
}

.admin-tools-buttons {
    background-color: #4B27FE;
    color: white;
    font-family: 'Ubuntu';
    font-size: 15px;
    padding: 8px;
    margin: 5px;
    font-weight: bold;
}

    .admin-tools-buttons:hover {
        color: white;
        background-color: lightgrey;
        font-weight: bold;
    }

.custom-scale-input {
    min-width: 200px;
    max-width: 200px;
    display: flex;
    justify-content: center;
}

.mud-chip {
    min-width: 50px;
    padding: 25px;
    background-color: #4B27FE;
    color: white;
    font-family: 'Ubuntu';
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
}

    .mud-chip:hover {
        background-color: #4B27FE;
        color: white;
    }

.mud-paper-buttons {
    padding: 25px;
    min-width: 850px;
    max-width: 850px;
}

.mud-paper-table {
    padding: 1px;
    min-width: 750px;
    max-width: 750px;
    margin-left: 25px;
    margin-right: 15px;
}

.mud-paper-room-labels {
    padding: 5px;
    min-width: 500px;
    max-width: 500px;
    justify-content: right;
    margin: 10px;
}

.mud-paper-tool-name {
    color: black;
    font-family: 'Ubuntu';
    font-size: 30px;
    font-weight: bold;
    min-height: 60px;
    max-height: 70px;
    padding: 5px;
    justify-content: right;
}
.mud-paper-custom-scale {
    color: black;
    font-family: 'Ubuntu';
    font-size: 30px;
    font-weight: bold;
    min-height: 60px;
    max-height: 70px;
    padding: 5px;
    display: flex;
    justify-content: left;
}
.mud-paper-admin-tools {
    min-width: 750px;
    max-width: 750px;
    padding: 1px;
    margin-right: 25px;
    margin-left: 25px;
}